.popup {
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s linear;
}

.popup__input-error {
    border-bottom-color: red;
    border-bottom-width: 5px;
}

.popup__input-message_error_visible {
    opacity: 1;
}