.popup__input-message_error {
    display: none;
    color: #ff0000;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 5px 0 13px;
    height: 12px;
}

.popup__input-message_error_active {
    display: flex;
}

.popup__input-message_error_active:last-of-type {
    margin-bottom: 31px;
}

