.popup__submit-button_disabled {
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    cursor: not-allowed;
    box-sizing: border-box;
    border-radius: 2px;
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
}